service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
    match /spot-lists/{spotId} {
      allow create: if request.auth != null && request.auth.uid == request.resource.data.ownerId;
      allow read: if request.auth != null;
    }
    match /spots/{spotId} {
      allow create: if request.auth != null && request.auth.uid == request.resource.data.ownerId;
    }
  }
}
